.questionBox {
    padding: 2rem 2rem;
    margin: 2rem auto;
    background-color: rgba(0, 0, 0, 0.034);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;

    .questionLoadingSpinner {
        padding: 4rem 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.timeExpiredMessage {
    color: rgb(248, 1, 1);
    text-align: center;
    font-size: 1.4rem;
    padding: 3rem;
}

.timeRemaining {
    color: red;
}

.nextQuestion {
    margin-top: 2rem;
}

.creatingExamSpinnerContainer {
    width: 100%;
    height: 100%;
    padding: 3rem;
    text-align: center;
}
.creatingExamWrongMessageContainer {
    width: 100%;
    height: 100%;
    padding: 3rem;
    text-align: center;
    color: red;
}

.examEndedMessageBox {
    background-color: rgb(224, 253, 216);
    text-align: center;
    padding: 3rem;
    border-radius: 0.5rem;
    .examEndedHeadline {
        color: rgb(10, 156, 10);
    }
}
