.auth-box-container {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: auto auto; }
  .auth-box-container .auth-box {
    border-radius: 9px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.534) !important;
    box-shadow: 0px 6px 15px rgba(59, 59, 59, 0.226);
    padding: 1rem 3rem 4rem 3rem;
    width: 500px;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .auth-box-container .auth-box .signin-text {
      font-size: 2rem;
      font-weight: bold;
      color: #727272;
      text-align: left; }
    .auth-box-container .auth-box .auth-input-field {
      padding: 1rem;
      border-radius: 7px;
      border: 1px solid rgba(0, 0, 0, 0.466) !important;
      font-size: 1.4rem; }
    .auth-box-container .auth-box .signin-button {
      background-color: burlywood;
      font-weight: bold;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.466) !important; }
      .auth-box-container .auth-box .signin-button:hover {
        background-color: #b8520a;
        color: white; }
    .auth-box-container .auth-box .dont-have-an-account-text {
      color: #fa3200;
      text-decoration: underline; }

.custom-layout {
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.39) !important;
  box-shadow: 0px 2px 10px rgba(59, 59, 59, 0.3);
  padding: 1.5rem;
  margin: 4rem auto; }

.headerText {
  text-align: center;
  margin: 2rem;
  font-weight: bold; }

.userProfile .examLoadingSpinner {
  padding: 5rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.errorMessage {
  color: red; }

.niceBox {
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 1rem;
  margin: 2rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.041); }

.red {
  color: red;
  font-weight: bold; }

.green {
  color: green;
  font-weight: bold; }

.questionBox {
  padding: 2rem 2rem;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.034);
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .questionBox .questionLoadingSpinner {
    padding: 4rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center; }

.timeExpiredMessage {
  color: #f80101;
  text-align: center;
  font-size: 1.4rem;
  padding: 3rem; }

.timeRemaining {
  color: red; }

.nextQuestion {
  margin-top: 2rem; }

.creatingExamSpinnerContainer {
  width: 100%;
  height: 100%;
  padding: 3rem;
  text-align: center; }

.creatingExamWrongMessageContainer {
  width: 100%;
  height: 100%;
  padding: 3rem;
  text-align: center;
  color: red; }

.examEndedMessageBox {
  background-color: #e0fdd8;
  text-align: center;
  padding: 3rem;
  border-radius: 0.5rem; }
  .examEndedMessageBox .examEndedHeadline {
    color: #0a9c0a; }

body {
  background-color: #e9e9e9;
  overflow-x: hidden;
  font-size: 1rem;
  color: #535353 !important; }

.headerText {
  text-align: center; }

.signoutButtonHolder {
  padding: 2rem;
  position: absolute;
  display: block;
  top: 0;
  right: 2%; }
