.custom-layout {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.39) !important;
    box-shadow: 0px 2px 10px rgba(59, 59, 59, 0.3);
    padding: 1.5rem;
    margin: 4rem auto;
}

.headerText {
    text-align: center;
    margin: 2rem;
    font-weight: bold;
}

.userProfile {
    .examLoadingSpinner {
        padding: 5rem 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: green;
    }
}
.errorMessage {
    color: red;
}

.niceBox {
    padding: 2rem;
    // background-color: rgba(172, 172, 172, 0.644);
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.041);
}
.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}
