.auth-box-container{
    position: fixed;
    height: 100%;
    width: 100%;
    margin: auto auto;
    .auth-box{
        border-radius: 9px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.534) !important;
        box-shadow: 0px 6px 15px rgba(59, 59, 59, 0.226);
        padding: 1rem 3rem 4rem 3rem;
        width: 500px;
        margin: 10% auto;
        // text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;

        .signin-text{
            font-size: 2rem;
            font-weight: bold;
            color: rgb(114, 114, 114);
            text-align: left;
        }
        .auth-input-field{
            padding: 1rem;
            border-radius: 7px;
            border: 1px solid rgba(0, 0, 0, 0.466) !important;
            // border: none ;
            font-size: 1.4rem;
        }

        .signin-button{
            background-color: burlywood;
            font-weight: bold;
            &:hover{
                background-color: rgb(184, 82, 10);
                color: white;

            }
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.466) !important;

        }

        .dont-have-an-account-text{
            color: rgb(250, 50, 0);
            text-decoration: underline;

        }
    }
}